body{
  font-family: "Arial","Meiryo","sans-serif";
  text-align: center;
}
html{
  font-size: 20px;
}

.blue {
  color: skyblue;
}

.pink {
   color: rgb(255, 192, 203);
}

h1 {
  font-family: "Josefin Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1{font-size: 2rem;
border-bottom: solid 3px rgb(115, 115, 114);
text-shadow: 1px 1px 2px palegreen;
letter-spacing: 1.2em;
}

.basic-bold {
  font-weight: bold;
}



